<!DOCTYPE html>
<html lang="en" style="width:100%; height:100%;">
  {% block head %}
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Add additional CSS in static file -->
    {% load static %}

    <!-- Cargar jquery (3.6.0)-->
    <script  src="{% static 'js/jquery-3.6.0.min.js' %}">	</script>

    <!-- Color-picker Plugin -->
    <link href="{% static 'farbtastic/farbtastic.css' %}" rel="stylesheet">
    <script src="{% static 'farbtastic/farbtastic.js' %}"></script>

  
    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> 
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
  
  
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/cover.css' %}">
      
    <!-- Cargar handsontable-->
    <link href="{% static 'css/handsontable.full.css' %}" rel="stylesheet">
  
    <script src="{% static 'js/handsontable.full.js' %}"></script>

    <!-- Cargar bootstrap ful len local-->
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <!-- Cargar pptxgen ful len local-->
    <script src="{% static 'PptxGenJS/dist/pptxgen.bundle.js' %}"></script>

    <!-- Cargar jquery.csv ful len local-->
    <script src="{% static 'js/jquery.csv.js' %}"></script>
  
    <!-- Cargar avataar(1)-->
    <!--
    <script type="module" src="https://unpkg.com/a-avataaar/a-avataaar.js?module">	</script>
    -->

    <!-- Cargar avataar(2)-->
    <script  src="{% static 'js/avataaars.js' %}">	</script>

    <!-- Cargar pickaday-->
    <!--
    <script  src="{% static 'Pikaday/pikaday.js' %}">	</script>
    <link rel="stylesheet" href="{% static 'Pikaday/css/pikaday.css' %}">
    -->

  <!-- Cargar intro.js (dynamic tutorial): https://introjs.com/docs/-->
  <script  src="{% static 'intro.js/intro.js' %}">	</script>
  <link rel="stylesheet" href="{% static 'intro.js/introjs.css' %}">

    <!-- Cargar bootstrap table plugin: https://bootstrap-table.com/-->
    <script  src="{% static 'bootstrap-table-develop/dist/bootstrap-table.js' %}">	</script>
    <link rel="stylesheet" href="{% static 'bootstrap-table-develop/dist/bootstrap-table.css' %}">
    <script  src="{% static 'js/jquery.tablednd.js' %}">	</script> <!--https://github.com/isocra/TableDnD-->
    <script  src="{% static 'js/table-sort.js' %}">	</script> <!--https://www.cssscript.com/minimal-table-sorter/-->




    <!-- online libraries -->

    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    -->
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>

    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    

    <!-- Bootstrap Date-Picker Plugin -->
    <!-- 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    -->

  

  </head>
  {% endblock %}

  <style>
    .nav-tabs .nav-link:not(.active) {
        border-color: transparent !important;
        color:rgb(0, 0, 0);
    }

    .nav-tabs > li > a:hover{
      /*background-color: #303136 !important;*/
        border-radius: 0;
        color:rgb(0, 0, 0);
        background-color: darkgray;
    }
    .nav-tabs .nav-link.active {
      background-color: rgb(226, 226, 226);
    }


  </style>

{% block body %}
   <!-- <body class="container-fluid  text-white bg-dark" style="width:100%; height:100%;"> -->
    <body class="container-fluid " style="width:100%; height:100%; text-shadow: none;"></body>

  {% block subheader %}
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-lg-1 p-0" >
          <a href="{% url 'user_profile' %}">
            <div id="id_svg_min"></div>
          </a>
        </div>
        <div class="col-lg-1 p-0">
          <div class="row">
            <div class="col-lg-12 p-0">
              <p style=" text-align:left">User: {{ user.get_username }}</p>
            </div>
          </div>
          <!--
          <div class="row">
            <div class="col-lg-12 p-0">
              <p style=" text-align:left">ID: {{ user.id }}</p>
            </div>
          </div>
        -->
          
        </div>
        <div class="col-lg-2 offset-lg-3 p-0">
          <a href="{% url 'frontpage' %}">
            <img class="mb-4"  src="{% static 'brand/logo.svg' %}" alt="" width="82" height="82" data-step="1" data-title="WELCOME!" data-intro='I know that is your first time here. This app is a "little"complex. So I would like that you do this tutorial. PS: You can start this tutorial in any moment clicking in the button "Tutorial?" at the corner top right.'>
         </a>
        </div>

      </div>
    </div>

    <script>

    $(document).ready(function() {

    //new_avataaar()
    //cache
    var avatar_min_cache = localStorage['avatar_min'] || 'default';
    var avatar_cache = localStorage['avatar'] || 'default';
    //console.log("avatar_min_cache:",avatar_min_cache)
    if(avatar_min_cache != "default"){
      document.getElementById("id_svg_min").innerHTML = avatar_min_cache
      
      //document.getElementById("id_svg_min").innerHTML = avatar_min
      document.getElementById("id_svg_min").value = avatar_cache
    }
    else{
      new_avataaar()
    }
    //console.log("avatar:",avatar)

    })

        function new_avataaar(){
          console.log("new_avataaar()")
        //avatar = Avataaars.create(); //https://github.com/HB0N0/AvataaarsJs  && https://www.cssscript.com/svg-avatar-generator/

        // Read all customizable Paths/Shapes as Array
        //console.log(Object.keys(Avataaars.paths));
        keys = Object.keys(Avataaars.paths)
        // >> ["skin", "top", ...]
        var par = {};

        items = Object.keys(Avataaars.colors.skin)
        item = items[Math.floor(Math.random() * items.length)];
        par['skinColor'] = item

        items = Object.keys(Avataaars.paths.top)
        item = items[Math.floor(Math.random() * items.length)];
        par['top'] = item

        items = Object.keys(Avataaars.colors.hair)
        item = items[Math.floor(Math.random() * items.length)];
        par['hairColor'] = item

        items = Object.keys(Avataaars.colors.palette)
        item = items[Math.floor(Math.random() * items.length)];
        par['hatColor'] = item

        items = Object.keys(Avataaars.paths.accessories)
        item = items[Math.floor(Math.random() * items.length)];
        ran = Math.round(Math.random())
        if(ran == 1){
          par['accessories'] = item
        }

        items = Object.keys(Avataaars.colors.palette)
        item = items[Math.floor(Math.random() * items.length)];
        par['accessoriesColor'] = item

        items = Object.keys(Avataaars.paths.facialHair)
        item = items[Math.floor(Math.random() * items.length)];
        par['facialHair'] = item

        items = Object.keys(Avataaars.colors.hair)
        item = items[Math.floor(Math.random() * items.length)];
        par['facialHairColor'] = item
  
        items = Object.keys(Avataaars.paths.clothing)
        item = items[Math.floor(Math.random() * items.length)];
        par['clothing'] = item

        items = Object.keys(Avataaars.paths.clothingGraphic)
        item = items[Math.floor(Math.random() * items.length)];
        par['clothingGraphic'] = item

        items = Object.keys(Avataaars.colors.palette)
        item = items[Math.floor(Math.random() * items.length)];
        par['clothingColor'] = item
  
        items = Object.keys(Avataaars.paths.eyes)
        item = items[Math.floor(Math.random() * items.length)];
        par['eyes'] = item

        items = Object.keys(Avataaars.paths.eyebrows)
        item = items[Math.floor(Math.random() * items.length)];
        par['eyebrows'] = item

        items = Object.keys(Avataaars.paths.mouth)
        item = items[Math.floor(Math.random() * items.length)];
        par['mouth'] = item
      
        //console.log("par:",par)

        var avatar = Avataaars.create({
            //skinType: par['skinType'],
            skin: par['skinColor'],
            top: par['top'],
            hairColor: par['hairColor'],
            hatColor: par['hatColor'],
            accessories: par['accessories'],
            accessoriesColor: par['accessoriesColor'],
            facialHair: par['facialHair'],
            facialHairColor: par['facialHairColor'],
            clothing: par['clothing'],
            clothingGraphic: par['clothingGraphic'],
            clothingColor: par['clothingColor'],
            eyes: par['eyes'],
            eyebrows: par['eyebrows'],
            mouth: par['mouth'],
            width: "300",
            height: "300",
        });
        //document.getElementById("id_svg").innerHTML = avatar

        avatar_min = Avataaars.create({
            //skinType: par['skinType'],
            skin: par['skinColor'],
            top: par['top'],
            hairColor: par['hairColor'],
            hatColor: par['hatColor'],
            accessories: par['accessories'],
            accessoriesColor: par['accessoriesColor'],
            facialHair: par['facialHair'],
            facialHairColor: par['facialHairColor'],
            clothing: par['clothing'],
            clothingGraphic: par['clothingGraphic'],
            clothingColor: par['clothingColor'],
            eyes: par['eyes'],
            eyebrows: par['eyebrows'],
            mouth: par['mouth'],
            width: "100",
            height: "100",
        });
      
        document.getElementById("id_svg_min").innerHTML = avatar_min
        //document.getElementById("id_svg_min").value = avatar
        localStorage['avatar'] = avatar; // only strings
        localStorage['avatar_min'] = avatar_min; // only strings
}

    </script>

  {% endblock %}

  {% block mainmenu %}

    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item" data-step="2" data-title="Home" data-intro="Click here and you will go to this main page.">
              <a class="nav-link active" href="{% url 'frontpage' %}">Home</a>
            </li>
            <li class="nav-item" data-step="3" data-title="Projects" data-intro="Here for go inside the projects area.">
              <a class="nav-link" href="{% url 'projects_rp_load' -1 %}">Projects</a>  <!--projects_rp_load tiene 1 argumento, el id del proyecto: -1 = carga el primero -->
            </li>
            <li class="nav-item" data-step="4" data-title="Conf Projects" data-intro="Click here and you will be able to config a lot of things.">
              <a class="nav-link" href="{% url 'config_prj'%}">Conf Projects</a> 
            </li>
            <li class="nav-item" data-step="5" ata-title="Profile" data-intro="Here are your personal data.">
              <a class="nav-link" href="{% url 'user_profile'%}">Profile</a>
            </li>
            <li class="nav-item" data-step="6" data-title="Login/Logout" data-intro="Click here to said goodbye.">
              {% if user.is_authenticated %}
              <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
              {% else %}
              <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
              {% endif %}
            </li>
          </ul>
          <ul class="navbar-nav ml-auto justify-content-right">
            <li class="nav-item">
              <a class="nav-link" id="id_tutorial" href="#">Tutorial?</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



    <script>
      $(document).ready(function(){

        document.getElementById("id_tutorial").addEventListener("click",function(event){
          console.log(event)
          //introJs().start();
          introJs().setOptions({
            showProgress: true,
          }).start().goToStep(2); //estart in step 2

        },false);

        if("{{flag_first_time}}" == 'True'){
          console.log("flag_first_time -> True")

          introJs().setOptions({
            showProgress: true,
          }).start()
          //introJs().start(); //start in the first step

        }




      })



    </script>

  {% endblock %}

  {% block content %}
  {% endblock %}


  {% block footer %}
  <div class="card card-body"> <!-- card item-->
  <div class="container-fluid text-center" style="text-shadow: none;">
    <footer class="mt-auto text-center">
      {% block pagination %}
      {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
      {% endif %}
    {% endblock %} 
      <p>Realizado por <a href="https://github.com/alex-filgueira" class="">Alexandre Filgueira</a>.</p>
    </footer> 
  </div>
</div>
  {% endblock %}

</body>
{% endblock %}


</html>