{% extends "base_generic.html" %}


{% block mainmenu %}

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'frontpage' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projects_rp_load' -1%}">Projects</a>  
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'config_prj'%}">Conf Projects</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'user_profile'%}">Profile</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
            {% else %}
            <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
            {% endif %}
          </li>
        </ul>
        <ul class="navbar-nav ml-auto justify-content-right">
            <li class="nav-item">
              <a class="nav-link" id="id_tutorial" href="#">Tutorial?</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  
{% endblock %}

{% block content %}


<div class="card card-body" data-step="2" data-title="Shape format" data-intro="Here you can configure all the parameters....." > <!-- card item-->
<div class="container-fluid">
    <div class="row mb-3"> <!-- canvas fig -->
        <div class="col-lg-6 offset-lg-3" >
            <div class="row">
                <!-- <div class="col-lg-5 p-0" ""></div>--> <!-- offset space  -->
                <div class="col-lg-12 p-0 text-center"> 
                    <canvas id="id_canvas" style="width:100px; height:100px;" >
                        Your browser does not support the HTML canvas tag.
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row"> <!-- Type line 1  -->
        <div class="col-lg-6 offset-lg-3" >
            <div class="row">
                <div class="col-lg-3 input-group-text"  >Type</div>
                <div class="col-lg-3 p-0" >
                    <select class="form-select" id= "id_type_list"  onchange="changesSelectType()" style="max-width:100%;" > 
                        {% for types in type_list %}
                            <option value="{{ types.id }}" id="{{ types.name }}" >{{ types.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-1 p-0" >
                    <button type="button" name="remove"  class="btn btn-danger btn_remove" onclick="removeType()"  style="width:100%;">X</button>
                </div>
                <div class="col-lg-2 p-0" >
                    <button type="button" class="btn btn-success " onclick="createType()" style="width:100%;">Add</button>
                </div>
                <div class="col-lg-3 p-0" >
                    <input type="text" class="form-control" placeholder="Type name..." value="" id="id_type_name" style="width:100%;">
                </div>
            </div>
        </div>
    </div>

    <div class="row"> <!-- Type line 2  -->
        <div class="col-lg-6 offset-lg-3" >
            <div class="row">
                <div class="col-lg-3 input-group-text"  >Shape</div>
                <div class="col-lg-3 p-0" >
                    <select class="form-select" id= "id_ShapeType_list"  onchange="changesSelectShape()" style="max-width:100%;">
                        {% if type_list.0.fig1_name == "pptx.ShapeType.ellipse" %}
                        <option value="pptx.ShapeType.ellipse" id="id_ellipse" selected>ellipse</option>
                        {% else %}
                        <option value="pptx.ShapeType.ellipse" id="id_ellipse" >ellipse</option>
                        {% endif %}
                        {% if type_list.0.fig1_name == 'pptx.ShapeType.diamond' %}
                        <option value="pptx.ShapeType.diamond" id="id_diamon" selected>diamond</option>
                        {% else %}
                        <option value="pptx.ShapeType.diamond" id="id_diamon"  >diamond</option>
                        {% endif %}
                        {% if type_list.0.fig1_name == 'pptx.ShapeType.hexagon' %}
                        <option value="pptx.ShapeType.hexagon" id="id_hexagon" selected>hexagon</option>
                        {% else %}
                        <option value="pptx.ShapeType.hexagon" id="id_hexagon"  >hexagon</option>
                        {% endif %}
                        {% if type_list.0.fig1_name == 'pptx.ShapeType.triangle' %}
                        <option value="pptx.ShapeType.triangle" id="id_triangle" selected>triangle</option>
                        {% else %}
                        <option value="pptx.ShapeType.triangle" id="id_triangle"  >triangle</option>
                        {% endif %}
                        {% if type_list.0.fig1_name == 'pptx.ShapeType.rect' %}
                        <option value="pptx.ShapeType.rect" id="id_rect" selected>rect</option>
                        {% else %}
                        <option value="pptx.ShapeType.rect" id="id_rect"  >rect</option>
                        {% endif %}
                    </select>
                </div>
                <div class="col-lg-3 input-group-text" >Size</div>
                <div class="col-lg-3 p-0" >
                    <input class="form-control" type="number" min="0.18" step="0.01" id="id_shape_s"  value="{{type_list.0.fig1_s}}"  onchange="changeShape_s(this)" style="max-width:100%;" >
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3"> <!-- Plan line 1  -->
        <div class="col-lg-6 offset-lg-3" >
            <div class="row">
                <div class="col-lg-2 input-group-text"  >Plan</div>
                <div class="col-lg-4 p-0" >
                    <select class="form-select" id= "id_plan_list"  onchange="changesSelectPlan()" style="max-width:100%;"> 
                        {% for plans in plan_list %}
                        <option value="{{ plans.id }}" id="{{ plans.name }}" >{{ plans.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-lg-1 p-0" >
                    <button type="button" name="remove"  class="btn btn-danger btn_remove" onclick="removePlan()" style="width:100%;">X</button>
                </div>
                <div class="col-lg-2 p-0" >
                    <button type="button" class="btn btn-success " onclick="createPlan()" style="width:100%;">Add</button>
                </div>
                <div class="col-lg-3 p-0" >
                    <input type="text" class="form-control" placeholder="Plan name..." value="" id="id_plan_name" style="width:100%;"> 
                </div>
            </div>
        </div>
    </div>

    <div class="row"> <!-- Plan line 2  -->
        <div class="col-lg-6 offset-lg-3" >
            <div class="row">
                <div class="col-lg-2 input-group-text"  >Fill</div>
                <div class="col-lg-2 p-0" >
                    <input type="text"  class="form-control"  name = "shape_color" placeholder="Shape color..."  value="{{plan_list.0.fig1_color_1}}" id="id_shape_color" onClick="changeColorShape(this)"  style="width:100%;"> 
                </div>
                <div class="col-lg-2 input-group-text"  >Border</div>
                <div class="col-lg-2 p-0" >
                    <input type="text"  class="form-control"  name = "border_color" placeholder="Border color..."  value="{{plan_list.0.fig1_color_2}}" id="id_border_color" onClick="changeBorderColorShape(this)" style="width:100%;"> 
                </div>
                <div class="col-lg-2 input-group-text"  >Width</div>
                <div class="col-lg-2 p-0" >
                    <input class="form-control" type="number" min="0" step="0.25" id="id_border_w"  value="{{plan_list.0.fig1_border_w}}" onchange="changeBorder_w()"style="width:100%;" >
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3"> <!-- Save & add predef line   -->
        <div class="col-lg-6 offset-lg-3" >
            <div class="row">
                <button type="button" class="btn btn-success " onclick="updateFig()">Save</button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-warning " onclick="resetbasicsshapes()">  (Reset shapes) </button>
            </div>
        </div>
    </div>
  </div>
</div>


<div class="card card-body"> <!-- card item-->
    <div class="container-fluid">
        <div class="row mt-3"> <!-- Color picker -->
            <div class="col-lg-6 offset-lg-3" >
                <div class="row">
                    <div id="colorpicker"  style=" width:100%;" class="d-flex justify-content-center"></div> <!-- center --> <!-- http://acko.net/blog/farbtastic-jquery-color-picker-plug-in/-->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card card-body"> <!-- card item-->
    <div class="container-fluid " >
        <div class="row"> <!-- Title line  -->
            <div class="col-lg-6 offset-lg-3" >
                <div class="row ">
                    <div class="col-lg-5 offset-lg-4  text-center"  >Colors</div>
                    <div class="col-lg-3 text-center"  >Widths</div>
                </div>
            </div>
        </div>
        <div class="row"> <!-- Marked1 line 1  -->
            <div class="col-lg-6 offset-lg-3" >
                <div class="row">
                    <div class="col-lg-4  input-group-text"  >Marked1</div>
                    <div class="col-lg-5 p-0" >
                        <input type="text"   class="form-control"  name = "marked1_color" placeholder="Marked1 color..." value="{{config_prj.marked1_color}}" id="id_marked1_color" onClick="select_color(this)"> 
                    </div>
                    <div class="col-lg-3 p-0" >
                        <input class="form-control" type="number"  min="0.01" step="0.01" id="id_marked1_w"  value="{{config_prj.marked1_w}}" onchange="update_w(this)">
                    </div>
                </div>
            </div>
        </div>
        <div class="row"> <!-- Marked2 line 1  -->
            <div class="col-lg-6 offset-lg-3" >
                <div class="row">
                    <div class="col-lg-4 input-group-text"  >Marked2</div>
                    <div class="col-lg-5 p-0" >
                        <input type="text"   class="form-control"  name = "marked2_color" placeholder="Marked2 color..." value="{{config_prj.marked2_color}}" id="id_marked2_color" onClick="select_color(this)"> 
                    </div>
                    <div class="col-lg-3 p-0" >
                        <input class="form-control" type="number" min="1" id="id_marked2_w"  value="{{config_prj.marked2_w}}" onchange="update_w(this)">
                    </div>
                </div>
            </div>
        </div>
        <div class="row"> <!-- Marked3 line 1  -->
            <div class="col-lg-6 offset-lg-3 " >
                <div class="row">
                    <div class="col-lg-4 input-group-text"  >Marked3</div>
                    <div class="col-lg-5 p-0" >
                        <input type="text"   class="form-control"  name = "marked3_color" placeholder="Marked3 color..." value="{{config_prj.marked3_color}}" id="id_marked3_color" onClick="select_color(this)"> 
                    </div>
                    <div class="col-lg-3 p-0" >
                        <input class="form-control" type="number" min="1" id="id_marked3_w"  value="{{config_prj.marked3_w}}" onchange="update_w(this)">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-1"> <!-- Week line 1  -->
            <div class="col-lg-6 offset-lg-3 " >
                <div class="row">
                    <div class="col-lg-4 input-group-text"  >Week</div>
                    <div class="col-lg-5 p-0" >
                        <input type="text"  class="form-control"  name = "week_color" placeholder="Marked2 color..." value="{{config_prj.week_color}}" id="id_week_color" onClick="select_color(this)"> 
                    </div>
                    <div class="col-lg-3 p-0" >
                        <input class="form-control" type="number" min="0.02" step="0.02" id="id_week_s"  value="{{config_prj.week_s}}" onchange="update_w(this)">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-1"> <!-- Default & add Update   -->
            <div class="col-lg-6 offset-lg-3 " >
                <div class="row">
                    <div class="col-lg-12 p-0" >
                        <button type="button" name="default"  class="btn btn-primary " onclick="defaultConfig()" style="width: 100%;" >Default</button>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-12 p-0" >
                        <button type="button" name="update"  class="btn btn-success " onclick="updateConfig()" style="width: 100%;" >Update</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="card card-body"> <!-- card item-->
    <div class="container-fluid">
        <div class="row mt-3"> <!-- title -->
            <div class="col-lg-6 offset-lg-3" >
                <div class="row">
                    <div class="col-lg-2 input-group-text" >Title</div>
                    <div class="col-lg-4 p-0" >
                        <input type="text" class="form-control" placeholder="Title..." value="{{config_prj.title}}" id="id_title" style="width:100%;">
                    </div>
                    <div class="col-lg-3 input-group-text" >Created by</div>
                    <div class="col-lg-3 p-0" >
                        <input type="text" class="form-control" placeholder="Created by..." value="{{config_prj.created_by}}" id="id_created_by" style="width:100%;">
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="col-lg-2 input-group-text" >Logo URL</div>
                    <div class="col-lg-8 p-0" >
                        <input type="text" class="form-control" placeholder="Paste URL image..." value="{{config_prj.logo_url}}" id="id_logo_url" style="width:100%;">
                    </div>
                </div>
                -->
                <div class="row ">
                    <div class="col-lg-2 p-0 input-group-text" >
                        <div class="col-lg-6 " >Head</div>
                        <div class="col-lg-6 p-0" >
                            <input type="checkbox"  style="width:100%;" id="id_chk_head">
                        </div>
                    </div>
                    <div class="col-lg-2 p-0 input-group-text" >
                        <div class="col-lg-6 " >Footer</div>
                        <div class="col-lg-6 p-0" >
                            <input type="checkbox"  style="width:100%;" id="id_chk_footer">
                        </div>
                    </div>
                    <div class="col-lg-2 p-0 input-group-text" >
                        <div class="col-lg-6 " >Title</div>
                        <div class="col-lg-6 p-0" >
                            <input type="checkbox"  style="width:100%;" id="id_chk_title">
                        </div>
                    </div>
                    <div class="col-lg-2 p-0 input-group-text" >
                        <div class="col-lg-6 " >Legend</div>
                        <div class="col-lg-6 p-0" >
                            <input type="checkbox"  style="width:100%;" id="id_chk_legend">
                        </div>
                    </div>
                    <div class="col-lg-2 p-0 input-group-text" >
                        <div class="col-lg-6 " >Logo</div>
                        <div class="col-lg-6 p-0" >
                            <input type="checkbox"  style="width:100%;" id="id_chk_logo">
                        </div>
                    </div>
                    <div class="col-lg-2 p-0 input-group-text" >
                        <div class="col-lg-6 " >Date</div>
                        <div class="col-lg-6 p-0" >
                            <input type="checkbox"  style="width:100%;" id="id_chk_date">
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-lg-12 p-0" >
                        <button type="button" name="update"  class="btn btn-success " onclick="updateConfig2()" style="width:100%;">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Image ppt example-------------------------------------------->
<div class="card card-body"> <!-- card item-->
    <div class="container-fluid">
        <div class="row mt-3"> <!-- Image ppt-->
            <div class="col-lg-6 offset-lg-3" >
                <div class="row">
                    <img id="id_img_ppt" src="/static/brand/ppt_example.PNG" class="img-fluid" alt="PPTX example">
                </div>
            </div>
        </div>
    </div>
</div>


 <!-- The Modal -->
 <div id="id_modal_img_ppt" class="modal">
 
   <!-- The Close Button -->
   <span class="close">&times;</span>
 
   <!-- Modal Content (The Image) -->
   <img class="modal-content" id="id_img01">
 
   <!-- Modal Caption (Image Text) -->
   <div id="id_img_caption"></div>
 </div> 


 <style>
 /* Style the Image Used to Trigger the Modal */
 #id_img_ppt {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#id_img_ppt:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#id_img_caption {
  margin: auto;
  display: block;
  width: 80%;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #id_img_caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} 
</style>




{% csrf_token %}

<script type="text/javascript">
      //Configuro ajax con el CSRFToken---------------------
      // using jQuery get csrftoken from your HTML
      var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

      function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function (xhr, settings) {
              // if not safe, set csrftoken
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
      //-------------------------------------------------------

    //colorpicker
    $(document).ready(function() {
        console.log("{{config_prj.id_user}}")
        console.log("{{type_list.0.fig1_name}}")
        //console.log("{{type_list}}")
        

        //$('#colorpicker').farbtastic('#id_marked1_color');
        $.farbtastic('#colorpicker').setColor('{{config_prj.marked1_color}}')//"#{{config_prj.marked1_color}}"

        //init backgrounds
        document.getElementById("id_marked1_color").style.backgroundColor = "{{config_prj.marked1_color}}";
        document.getElementById("id_marked1_color").style.color = setContrast(hexToRgb("{{config_prj.marked1_color}}"))
        document.getElementById("id_marked2_color").style.backgroundColor = "{{config_prj.marked2_color}}";
        document.getElementById("id_marked2_color").style.color = setContrast(hexToRgb("{{config_prj.marked2_color}}"))
        document.getElementById("id_marked3_color").style.backgroundColor = "{{config_prj.marked3_color}}";
        document.getElementById("id_marked3_color").style.color = setContrast(hexToRgb("{{config_prj.marked3_color}}"))
        document.getElementById("id_week_color").style.backgroundColor = "{{config_prj.week_color}}";
        document.getElementById("id_week_color").style.color = setContrast(hexToRgb("{{config_prj.week_color}}"))

        //init fig
        //check if exist
        document.getElementById("id_shape_color").value = "{{plan_list.0.fig1_color_1}}"
        if("{{plan_list.0.fig1_color_1}}" == ""){
            document.getElementById("id_shape_color").value = '#dc143c'
        }
        document.getElementById("id_border_color").value = "{{plan_list.0.fig1_color_2}}"
        if("{{plan_list.0.fig1_color_2}}" == ""){
            document.getElementById("id_border_color").value = '#dc143c'
        }
        document.getElementById("id_shape_color").style.backgroundColor = document.getElementById("id_shape_color").value ;
        document.getElementById("id_shape_color").style.color = setContrast(hexToRgb(document.getElementById("id_shape_color").value))
        document.getElementById("id_border_color").style.backgroundColor =  document.getElementById("id_border_color").value ;
        document.getElementById("id_border_color").style.color = setContrast(hexToRgb(document.getElementById("id_border_color").value))

        document.getElementById("id_shape_s").value = "{{type_list.0.fig1_s}}"
        if("{{type_list.0.fig1_s}}" == ""){
            document.getElementById("id_shape_s").value = def_shape_s
        }

        document.getElementById("id_border_w").value = "{{plan_list.0.fig1_border_w}}"
        if("{{plan_list.0.fig1_border_w}}" == ""){
            document.getElementById("id_border_w").value = def_border_w
        }

        //checkboxes
        //console.log("head:","{{config_prj.flag_head}}" )
        if("{{config_prj.flag_head}}" == "True"){document.getElementById("id_chk_head").checked = true;}
        if("{{config_prj.flag_footer}}" == "True"){document.getElementById("id_chk_footer").checked = true;}
        if("{{config_prj.flag_title}}" == "True"){document.getElementById("id_chk_title").checked = true;}
        if("{{config_prj.flag_legend}}" == "True"){document.getElementById("id_chk_legend").checked = true;}
        if("{{config_prj.flag_logo}}" == "True"){document.getElementById("id_chk_logo").checked = true;}
        if("{{config_prj.flag_status_date}}" == "True"){document.getElementById("id_chk_date").checked = true;}

        //update values in the canvas
        changeBorder_w();
        changeShape_s();
        
        //launch the first time
        changesSelectShape()

        //listener
        document.getElementById("id_tutorial").addEventListener("click",function(event){
          console.log(event)

          introJs().setOptions({
            showProgress: true,
          }).start().goToStep(2); //estart in step 2

        },false);

        //ppt example img
        // Get the modal
        var modal = document.getElementById("id_modal_img_ppt");

        // Get the image and insert it inside the modal - use its "alt" text as a caption
        var img = document.getElementById("id_img_ppt");
        var modalImg = document.getElementById("id_img01");
        var captionText = document.getElementById("id_img_caption");
        img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
        }

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        } 



        //----

        //tutorial -> first time
        if("{{flag_first_time_conf}}" == 'True'){
          console.log("flag_first_time_conf -> True")

          introJs().setOptions({
            showProgress: true,
          }).start().goToStep(2); //estart in step 2
        }


    });

    function select_color(param) {
        console.log("select_color():",param.id)
        color = $.farbtastic(colorpicker).color
        picker = document.getElementById(param.id)
        console.log("color",color)

        picker.value = color
        picker.style.backgroundColor = color
        picker.style.color = setContrast(hexToRgb(color))
    };



    function update_w(param) {
        console.log("update_w():",param.id)
    };

    function updateConfig(){
        console.log("updateConfig()")

        flag_color = true
        marked1_color = document.getElementById("id_marked1_color").value
        if(isHexColor(marked1_color)== false){
            flag_color = false
        }
        marked1_w= document.getElementById("id_marked1_w").value
        if(marked1_w == ""){marked1_w = "0.01"}
        marked2_color = document.getElementById("id_marked2_color").value
        if(isHexColor(marked2_color)== false){
            flag_color = false
        }
        marked2_w= document.getElementById("id_marked2_w").value
        if(marked2_w == ""){marked2_w = "1"}
        marked3_color = document.getElementById("id_marked3_color").value
        if(isHexColor(marked3_color)== false){
            flag_color = false
        }
        marked3_w= document.getElementById("id_marked3_w").value
        if(marked3_w == ""){marked3_w = "1"}

        week_color = document.getElementById("id_week_color").value
        if(isHexColor(week_color)== false){
            flag_color = false
        }
        week_s= document.getElementById("id_week_s").value
        if(week_s == ""){week_s = "0.02"}

        if(flag_color){
        $.ajax({
                    type: "POST",
                    url: "{% url 'config_prj' %}",
                    name: "testname",
                    data: JSON.stringify( {
                        marked1_color,
                        marked1_w,
                        marked2_color,
                        marked2_w,
                        marked3_color,
                        marked3_w,
                        week_color,
                        week_s,

                    } ),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(resp){
                        console.log("Informacion actualizada:" + resp.ok);
                    },
                    failure: function(resp){console.log("Hay un error:" + resp.d);},
            });
        }
        else{
            bootbox.alert({
                    closeButton: false,
                    message: "Some color value is wrong!.Ex: #ce4b6c"
                });
        }
    }

    function updateConfig2(){
        console.log("updateConfig2()")
        flag_head= document.getElementById("id_chk_head").checked
        flag_footer= document.getElementById("id_chk_footer").checked
        flag_title= document.getElementById("id_chk_title").checked
        flag_legend= document.getElementById("id_chk_legend").checked
        flag_logo= document.getElementById("id_chk_logo").checked
        flag_status_date= document.getElementById("id_chk_date").checked

        title= document.getElementById("id_title").value
        created_by= document.getElementById("id_created_by").value
        //logo_url= document.getElementById("id_logo_url").value

        //console.log("validURL:",validURL(logo_url))

        //console.log("checkURL_img:",checkURL_img(logo_url))
        

        $.ajax({
                    type: "POST",
                    url: "{% url 'config_prj' %}",
                    name: "testname",
                    data: JSON.stringify( {

                        flag_head,
                        flag_footer,
                        flag_title,
                        flag_legend,
                        flag_logo,
                        flag_status_date,

                        title,
                        created_by,
                        //logo_url,

                    } ),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(resp){
                        console.log("Informacion actualizada:" + resp.ok);
                    },
                    failure: function(resp){console.log("Hay un error:" + resp.d);},
            });
    }

function checkURL_img(url) {
    return(url.match(/\.(jpeg|jpg|gif|png)$/) != null);
}

function validURL(str) {
  var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
    '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
    '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
    '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
    '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
    '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
  return !!pattern.test(str);
}



    var def_shape_s = 0.28
    var def_border_w = 1
    function defaultConfig(){
        console.log("defaultConfig()")
        document.getElementById("id_marked1_color").value = '#dc143c'
        document.getElementById("id_marked1_w").value = '0.05'
        document.getElementById("id_marked1_color").style.backgroundColor ='#dc143c'
        document.getElementById("id_marked1_color").style.color = setContrast(hexToRgb('#dc143c'))
        document.getElementById("id_marked2_color").value = '#5feb4c'
        document.getElementById("id_marked2_color").style.color = setContrast(hexToRgb('#dc143c'))
        document.getElementById("id_marked2_w").value = '1'
        document.getElementById("id_marked2_color").style.backgroundColor ='#5feb4c'
        document.getElementById("id_marked2_color").style.color = setContrast(hexToRgb('#5feb4c'))
        document.getElementById("id_marked3_color").value = '#eb4cc2'
        document.getElementById("id_marked3_w").value = '1'
        document.getElementById("id_marked3_color").style.backgroundColor ='#eb4cc2'
        document.getElementById("id_marked3_color").style.color = setContrast(hexToRgb('#eb4cc2'))

        document.getElementById("id_week_color").value = '#bbe0e3'
        document.getElementById("id_week_color").style.backgroundColor ='#bbe0e3'
        document.getElementById("id_week_color").style.color = setContrast(hexToRgb('#bbe0e3'))
        document.getElementById("id_week_s").value = def_shape_s

        document.getElementById("id_shape_color").value = '#dc143c'
        document.getElementById("id_shape_color").style.backgroundColor ='#dc143c'
        document.getElementById("id_shape_color").style.color = setContrast(hexToRgb('#dc143c'))
        document.getElementById("id_shape_s").value = def_shape_s

        document.getElementById("id_border_color").value = '#000000'
        document.getElementById("id_border_color").style.backgroundColor ='#000000'
        document.getElementById("id_border_color").style.color = setContrast(hexToRgb('#000000'))
        document.getElementById("id_border_w").value = def_border_w

        //update values in the canvas
        changeBorder_w();
        changeShape_s();
    }

    //funciones canvas-------------------------------
    var margin_w = 5
    function diamond(ctx, x, y, width, height, b_w, b_color){
        ctx.beginPath();
        ctx.strokeStyle = b_color;
        ctx.lineWidth = b_w;
        ctx.moveTo(0+margin_w, height/2);
        ctx.lineTo(width/2, 0+margin_w);
        ctx.lineTo(width -margin_w, height/2);
        ctx.lineTo(width/2, height-margin_w);
        ctx.lineTo(0+margin_w, height/2);
        ctx.stroke();
        ctx.closePath();  
    }

    function ellipse(ctx, x, y, width, height, b_w, b_color){
        ctx.beginPath();
        ctx.strokeStyle = b_color;
        ctx.lineWidth = b_w;
        ctx.arc(x,y,x-margin_w,0, 2*Math.PI);
        ctx.stroke();
        ctx.closePath(); 
    }

    function hexagon(ctx, x, y, width, height, b_w, b_color){
        width = width - margin_w
        height = height - margin_w
        ctx.beginPath();
        ctx.strokeStyle = b_color;
        ctx.lineWidth = b_w;
        size = width/2
        ctx.moveTo(x + size * Math.cos(0), y + size * Math.sin(0));
        for (var side = 0; side < 7; side++) {
            ctx.lineTo(x + size * Math.cos(side * 2 * Math.PI / 6), y + size * Math.sin(side * 2 * Math.PI / 6));
        }
        ctx.stroke();
        ctx.closePath();  
    }

    function triangle(ctx, x, y, width, height, b_w, b_color){
        width = width - margin_w
        height = height - margin_w
        ctx.beginPath();
        ctx.strokeStyle = b_color;
        ctx.lineWidth = b_w;
        ctx.moveTo(0+margin_w, height); 
        ctx.lineTo(width/2, 0+margin_w);
        ctx.lineTo(width, height);
        ctx.lineTo(0+margin_w, height);
        ctx.stroke();
        ctx.closePath();  
    }

    function rect(ctx, x, y, width, height, b_w, b_color){
        width = width - margin_w
        height = height - margin_w
        ctx.beginPath();
        ctx.strokeStyle = b_color;
        ctx.lineWidth = b_w;
        ctx.moveTo(0+margin_w, height );  
        ctx.lineTo(0+margin_w, 0+margin_w);
        ctx.lineTo(width, 0+margin_w);
        ctx.lineTo(width, height);
        ctx.lineTo(0+margin_w, height);
        ctx.stroke();
        ctx.closePath();  
    }


    function paint_canvas(canvas,shape,fill_color, b_w, b_color){
        console.log("paint_canvas():", shape)
        //var canvas = document.getElementById("id_canvas");
       
        var ctx = canvas.getContext("2d");
        //clear
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        var X=canvas.width/2;
        var Y=canvas.height/2;

        //ctx.fillStyle  = document.getElementById("id_shape_color").value;//relleno
        ctx.fillStyle  = fill_color;//relleno

        switch(shape){
            //ellipse diamond hexagon triangle rect
            case "ellipse":
            ellipse(ctx, X,Y, canvas.width, canvas.height,b_w,b_color);
            break;
            case "diamond":
            diamond(ctx, X,Y, canvas.width, canvas.height,b_w,b_color);
            break;
            case "hexagon":
            hexagon(ctx, X,Y, canvas.width, canvas.height,b_w,b_color);
            break;
            case "triangle":
            triangle(ctx, X,Y, canvas.width, canvas.height,b_w,b_color);
            break;
            case "rect":
            rect(ctx, X,Y, canvas.width, canvas.height,b_w,b_color);
            break;

            default:
            ellipse(ctx, X,Y, canvas.width, canvas.height,b_w,b_color);
            break;
        }
        ctx.fill(); //cualquier forma abierta es cerrada automaticament

    }

    function changesSelectShape(){
        console.log("changesSelectShape()")
        shape_selected = document.getElementById("id_ShapeType_list")
        shape_name = ""
        var fill_color = ""
        for (var i = 0, element; element = shape_selected[i++];) {
            if(element.selected == true){
                shape_name = element.value
            }
        }
        console.log("shape_name->",shape_name)
        shepe_name_list = shape_name.split(".")
        var canvas = document.getElementById("id_canvas");
        fill_color = document.getElementById("id_shape_color").value;//relleno
        paint_canvas(canvas,shepe_name_list[2],fill_color, 0, 0)
    }


    function changeColorShape(param){
        console.log("changesColorShape()")
        select_color(param)//update color

        var canvas = document.getElementById("id_canvas");
        var ctx = canvas.getContext("2d");
        color = document.getElementById(param.id).value;
        ctx.fillStyle = color;//relleno
        ctx.fill();
    }


    function changeBorderColorShape(param){
        console.log("changesBorderColorShape()")
        select_color(param)//update color

        color = document.getElementById(param.id).value;

        shape_selected = document.getElementById("id_ShapeType_list")
        shape_name = ""
        for (var i = 0, element; element = shape_selected[i++];) {
            if(element.selected == true){
                shape_name = element.value
            }
        }
        shepe_name_list = shape_name.split(".")
        border_w = document.getElementById("id_border_w").value
        var canvas = document.getElementById("id_canvas");
        var fill_color = document.getElementById("id_shape_color").value;//relleno
        paint_canvas(canvas,shepe_name_list[2],fill_color, border_w, color)
    }

    function changeBorder_w(){
        color = document.getElementById("id_border_color").value;
        shape_selected = document.getElementById("id_ShapeType_list")
        shape_name = ""
        for (var i = 0, element; element = shape_selected[i++];) {
            if(element.selected == true){
                shape_name = element.value
            }
        }
        shepe_name_list = shape_name.split(".")
        border_w = document.getElementById("id_border_w").value
        border_w = border_w * 20/2.5
        var canvas = document.getElementById("id_canvas");
        var fill_color = document.getElementById("id_shape_color").value;//relleno
        paint_canvas(canvas,shepe_name_list[2],fill_color, border_w, color)
    }

    function changeShape_s(){
        shape_s = document.getElementById("id_shape_s").value

        canvas = document.getElementById("id_canvas")
        canvas.height = 100 *shape_s / def_shape_s
        canvas.width = 100 *shape_s / def_shape_s 
        changeBorder_w() //update
    }

    function changesSelectType(){
        type_selected = document.getElementById("id_type_list")
        type_name = ""
        type_id = 0
        for (var i = 0, element; element = type_selected[i++];) {
            if(element.selected == true){
                type_name = element.id
                type_id = element.value
            }
        }
        console.log("type_name->",type_name)

        $.ajax({
                    type: "POST",
                    url: "{% url 'get_type' %}",
                    name: "testname",
                    data: JSON.stringify( {
                        type_id,
                    } ),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(resp){
                        console.log("Informacion actualizada:" + resp.ok);
                        //console.log(resp.type_fig1_name)
                        //update
                        document.getElementById("id_ShapeType_list").value = resp.type_fig1_name
                        document.getElementById("id_shape_s").value = resp.type_fig1_s

                        changesSelectShape()
                        changeShape_s()
                    },
                    failure: function(resp){console.log("Hay un error:" + resp.d);},
            });
    }

    function changesSelectPlan(){
        plan_selected = document.getElementById("id_plan_list")
        plan_name = ""
        plan_id = 0
        for (var i = 0, element; element = plan_selected[i++];) {
            if(element.selected == true){
                plan_name = element.id
                plan_id = element.value
            }
        }
        console.log("plan_name->",plan_name)

        $.ajax({
                    type: "POST",
                    url: "{% url 'get_plan' %}",
                    name: "testname",
                    data: JSON.stringify( {
                        plan_id,
                    } ),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(resp){
                        console.log("Informacion actualizada:" + resp.ok);
                        //console.log(resp.type_fig1_name)
                        //update
                        document.getElementById("id_shape_color").value = resp.plan_fig1_color_1
                        document.getElementById("id_shape_color").style.backgroundColor = resp.plan_fig1_color_1
                        document.getElementById("id_shape_color").style.color = setContrast(hexToRgb(resp.plan_fig1_color_1))
                        document.getElementById("id_border_color").value = resp.plan_fig1_color_2
                        document.getElementById("id_border_color").style.backgroundColor = resp.plan_fig1_color_2
                        document.getElementById("id_border_color").style.color = setContrast(hexToRgb(resp.plan_fig1_color_2))
                        document.getElementById("id_border_w").value = resp.plan_fig1_border_w

                        changesSelectShape()
                        changeShape_s()
                    },
                    failure: function(resp){console.log("Hay un error:" + resp.d);},
            });
    }


    function createType(){
        type_name = document.getElementById("id_type_name").value
        $.ajax({
                    type: "POST",
                    url: "{% url 'create_type' %}",
                    name: "testname",
                    data: JSON.stringify( {
                        type_name,
                    } ),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(resp){
                        console.log("Informacion actualizada:" + resp.ok);
                        //add element
                        var list = document.getElementById("id_type_list")
                        var option = document.createElement('option');
                        option.text = type_name;
                        option.value = resp.type_id
                        list.add(option); 
                    },
                    failure: function(resp){console.log("Hay un error:" + resp.d);},
            });
    }

    function createPlan(){
        plan_name = document.getElementById("id_plan_name").value
        $.ajax({
                    type: "POST",
                    url: "{% url 'create_plan' %}",
                    name: "testname",
                    data: JSON.stringify( {
                        plan_name,
                    } ),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(resp){
                        console.log("Informacion actualizada:" + resp.ok);
                        //add element
                        var list = document.getElementById("id_plan_list")
                        var option = document.createElement('option');
                        option.text = plan_name;
                        option.value = resp.plan_id
                        list.add(option); 

                        
                    },
                    failure: function(resp){console.log("Hay un error:" + resp.d);},
            });
    }


    function removeType(){
        type_list = document.getElementById("id_type_list")
        type_name = ""
        type_id = 0
        
        for (var i = 0, element; element = type_list[i++];) {
            if(element.selected == true){
                //not remove predef
                type_name = element.id
                if((type_name != 'SW') && (type_name != 'HW') && (type_name != 'ZDC')){
                    type_id = element.value
                    element.remove();
                }
                else{
                    bootbox.alert({
                    closeButton: false,
                    message: "You can´t remove the predef shapes."
                });
                }
            }
        }
        console.log("remove:", type_name)
        if(type_id != 0){
            $.ajax({
                        type: "POST",
                        url: "{% url 'remove_type' %}",
                        name: "testname",
                        data: JSON.stringify( {
                            type_id,
                        } ),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(resp){
                            console.log("Informacion actualizada:" + resp.ok);
                            //remove element

                        },
                        failure: function(resp){console.log("Hay un error:" + resp.d);},
                });
        }
    }

    function removePlan(){
        plan_list = document.getElementById("id_plan_list")
        plan_name = ""
        plan_id = 0
        for (var i = 0, element; element = plan_list[i++];) {
            if(element.selected == true){
                //not remove predef
                plan_name = element.id
                if((plan_name != 'vbv') && (plan_name != 'te.vbv') && (plan_name != 'planned')&& (plan_name != 'additional')){
                plan_id = element.value
                element.remove();
                }
                else{
                    bootbox.alert({
                    closeButton: false,
                    message: "You can´t remove the predef shapes."
                });
                }
            }
        }
        console.log("remove:", plan_name)
        if(plan_id != 0){
            $.ajax({
                        type: "POST",
                        url: "{% url 'remove_plan' %}",
                        name: "testname",
                        data: JSON.stringify( {
                            plan_id,
                        } ),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(resp){
                            console.log("Informacion actualizada:" + resp.ok);
                            //remove element

                        },
                        failure: function(resp){console.log("Hay un error:" + resp.d);},
                });
        }
    }

    function updateFig(){
        //check if plan exist
        plan_list = document.getElementById("id_plan_list")
        plan_id = 0
        for (var i = 0, element; element = plan_list[i++];) {
            if(element.selected == true){
                plan_id = element.value
            }
        }
        //check if type exist
        type_list = document.getElementById("id_type_list")
        type_id = 0
        for (var i = 0, element; element = type_list[i++];) {
            if(element.selected == true){
                type_id = element.value
            }
        }
        if((type_id != 0) && (plan_id != 0)){
            //get shape name
            shape_selected = document.getElementById("id_ShapeType_list")
            shape_name = ""
            for (var i = 0, element; element = shape_selected[i++];) {
                if(element.selected == true){
                    shape_name = element.value
                }
            }
            //get shape fill color
            flag_color = true
            fill_color = document.getElementById("id_shape_color").value;
            if(isHexColor(fill_color) == false){
                flag_color = false
            }
            //get shape border color
            border_color = document.getElementById("id_border_color").value;
            if(isHexColor(border_color) == false){
                flag_color = false
            }
            //get border w
            border_w = document.getElementById("id_border_w").value
            if(border_w == ""){border_w = "0"}
            //get shape s
            shape_s = document.getElementById("id_shape_s").value
            if(shape_s == ""){shape_s = "0.01"}

            if(flag_color){
            //send data
            $.ajax({
                        type: "POST",
                        url: "{% url 'update_fig' %}",
                        name: "testname",
                        data: JSON.stringify( {
                            type_id,
                            plan_id,
                            shape_name,
                            shape_s,
                            fill_color,
                            border_color,
                            border_w,

                        } ),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(resp){
                            console.log("Informacion actualizada:" + resp.ok);
                        },
                        failure: function(resp){console.log("Hay un error:" + resp.d);},
                });
            }
            else{
                bootbox.alert({
                    closeButton: false,
                    message: "Some color value is wrong!.Ex: #ce4b6c"
                });
            }
        }
    }


    function resetbasicsshapes(){
        $.ajax({
                        type: "POST",
                        url: "{% url 'reset_basics_shapes' %}",
                        name: "testname",
                        data: JSON.stringify( {

                        } ),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function(resp){
                            console.log("Informacion actualizada:" + resp.ok);
                            //reload
                            self.location=self.location //Reload the page
                        },
                        failure: function(resp){console.log("Hay un error:" + resp.d);},
                });
    }


//Contrastes
const hexToRgb = hex => {
    // turn hex val to RGB
    const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex)
    return result
        ? {
              r: parseInt(result[1], 16),
              g: parseInt(result[2], 16),
              b: parseInt(result[3], 16)
          }
        : null
}

// calc to work out if it will match on black or white better
function setContrast (rgb){
    if (rgb != null){
    return (rgb.r * 299 + rgb.g * 587 + rgb.b * 114) / 1000 > 125 ? '#000000' : '#ffffff'
    }
    else{
        return '#000000'
    }
}

//console.log("isHexColor:",isHexColor('ffffff'))
function isHexColor (hex) {
    hex = hex.replace('#','');
//withou #
  return typeof hex === 'string'
      && hex.length === 6
      && !isNaN(Number('0x' + hex))
}
    
//console.log("color:", setContrast(hexToRgb("#ffffff")))


</script>

{% endblock %}