{% extends "base_generic.html" %}

{% block content %}
<div class="card card-body"> <!-- card item-->
<div class="container-fluid text-center" style="text-shadow: none;">
  <p>Welcome to <em>RPM_plus</em>, a website for the new Release Plan Maker.</p>



  <h5>Statistics:</h5>
  <p>The Application has the following record counts:</p>

  <div class="row" >
    <div class="col-lg-2 offset-lg-3"  >
      <p><strong>Languages:</strong></p>
    </div>
    <div class="col-lg-1 offset-lg-0"  >
      <p><strong>Files:</strong></p>
    </div>
    <div class="col-lg-1 offset-lg-0"  >
      <p><strong>Code:</strong></p>
    </div>
    <div class="col-lg-1 offset-lg-0"  >
      <p><strong>Comment:</strong></p>
    </div>
  </div>

  <div class="row" >
    <div class="col-lg-2 offset-lg-3"  >
      <p>HTML+Django/Jinj</p>
    </div>
    <div class="col-lg-1 offset-lg-0"  >
      <p>14</p>
    </div>
    <div class="col-lg-1 offset-lg-0"  >
      <p>4062</p>
    </div>
    <div class="col-lg-1 offset-lg-0"  >
      <p>771</p>
    </div>
  </div>

  <div class="row" >
    <div class="col-lg-2 offset-lg-3"  >
      <p>Python</p>
    </div>
    <div class="col-lg-1 offset-lg-0"  >
      <p>7</p>
    </div>
    <div class="col-lg-1 offset-lg-0"  >
      <p>1675</p>
    </div>
    <div class="col-lg-1 offset-lg-0"  >
      <p>235</p>
    </div>
  </div>


  <p><strong>Users:</strong> {{ num_users }}</p>
  <p><strong>Projects:</strong> {{ num_projects }}</p>


  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
</div>
</div>


{% endblock %}