{% extends "base_generic.html" %}


{% block mainmenu %}

<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'frontpage' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projects_rp_load' -1 %}">Projects</a>  <!--projects_rp_load tiene 1 argumento, el id del proyecto: -1 = carga el primero -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'config_prj'%}">Conf Projects</a>  <!--projects_rp_load tiene 1 argumento, el id del proyecto: -1 = carga el primero -->
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'user_profile'%}">Profile</a>  <!--projects_rp_load tiene 1 argumento, el id del proyecto: -1 = carga el primero -->
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
            {% else %}
            <a class="nav-link" href="{% url 'login'%}?next={{request.path}}">Login</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
{% endblock %}

{% block content %}


<div class="container-fluid">
  <div class="main-body">

        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <!--<a-avataaar identifier={{username}} ></a-avataaar>-->
                  <div id="id_svg"></div>
                  <div class="mt-3">
                    <h4>{{username}}</h4>  
                    <p class="text-secondary mb-1">{{groups}}</p>

                    <button class="btn btn-primary" onclick="change_password()">Change Password</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                  <span class="text-secondary">https://bootdey.com</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                  <span class="text-secondary">bootdey</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>Twitter</h6>
                  <span class="text-secondary">@bootdey</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                  <span class="text-secondary">bootdey</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                  <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                  <span class="text-secondary">bootdey</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{first_name}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{email}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Date joined</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{date_joined}}
                  </div>
                </div>


              </div>
            </div>
            <div class="row gutters-sm">
              <div class="col-sm-6 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                    <small>Web Design</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Website Markup</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>One Page</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Mobile Template</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Backend API</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 mb-3">
                <div class="card h-100">
                  <div class="card-body">
                    <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                    <small>Web Design</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Website Markup</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>One Page</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Mobile Template</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <small>Backend API</small>
                    <div class="progress mb-3" style="height: 5px">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


<form id = id_form name = "form" action = "{% url 'update_prj_form' %}" method = "POST" >{% csrf_token %}</form>

<style>
  
  body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

</style>

<script type="text/javascript">
      //Configuro ajax con el CSRFToken---------------------
      // using jQuery get csrftoken from your HTML
      var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

      function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
          beforeSend: function (xhr, settings) {
              // if not safe, set csrftoken
              if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              }
          }
      });
      //-------------------------------------------------------

      $(document).ready(function() {

        //Chek avatar
        var avatar_min_cache = localStorage['avatar_min'] || 'default';
        var avatar_cache = localStorage['avatar'] || 'default';
        //console.log("avatar_cache:",avatar_cache)
        if(avatar_cache != "default"){
          //document.getElementById("id_svg_min").innerHTML = avatar_min_cache
          
          document.getElementById("id_svg").innerHTML = avatar_cache
          //document.getElementById("id_svg_min").value = avatar_cache
        }
        else{
          new_avataaar2()
        }
        
        //add event click to  main avatar
        document.getElementById('id_svg')
        .addEventListener('click', function (event) {
          new_avataaar2()
        });
      })

function new_avataaar2(){
  console.log("new_avataaar2()")
        //avatar = Avataaars.create(); //https://github.com/HB0N0/AvataaarsJs  && https://www.cssscript.com/svg-avatar-generator/

        // Read all customizable Paths/Shapes as Array
        //console.log(Object.keys(Avataaars.paths));
        keys = Object.keys(Avataaars.paths)
        // >> ["skin", "top", ...]
        var par = {};

        items = Object.keys(Avataaars.colors.skin)
        item = items[Math.floor(Math.random() * items.length)];
        par['skinColor'] = item

        items = Object.keys(Avataaars.paths.top)
        item = items[Math.floor(Math.random() * items.length)];
        par['top'] = item

        items = Object.keys(Avataaars.colors.hair)
        item = items[Math.floor(Math.random() * items.length)];
        par['hairColor'] = item

        items = Object.keys(Avataaars.colors.palette)
        item = items[Math.floor(Math.random() * items.length)];
        par['hatColor'] = item

        items = Object.keys(Avataaars.paths.accessories)
        item = items[Math.floor(Math.random() * items.length)];
        ran = Math.round(Math.random())
        if(ran == 1){
          par['accessories'] = item
        }

        items = Object.keys(Avataaars.colors.palette)
        item = items[Math.floor(Math.random() * items.length)];
        par['accessoriesColor'] = item

        items = Object.keys(Avataaars.paths.facialHair)
        item = items[Math.floor(Math.random() * items.length)];
        par['facialHair'] = item

        items = Object.keys(Avataaars.colors.hair)
        item = items[Math.floor(Math.random() * items.length)];
        par['facialHairColor'] = item
  
        items = Object.keys(Avataaars.paths.clothing)
        item = items[Math.floor(Math.random() * items.length)];
        par['clothing'] = item

        items = Object.keys(Avataaars.paths.clothingGraphic)
        item = items[Math.floor(Math.random() * items.length)];
        par['clothingGraphic'] = item

        items = Object.keys(Avataaars.colors.palette)
        item = items[Math.floor(Math.random() * items.length)];
        par['clothingColor'] = item
  
        items = Object.keys(Avataaars.paths.eyes)
        item = items[Math.floor(Math.random() * items.length)];
        par['eyes'] = item

        items = Object.keys(Avataaars.paths.eyebrows)
        item = items[Math.floor(Math.random() * items.length)];
        par['eyebrows'] = item

        items = Object.keys(Avataaars.paths.mouth)
        item = items[Math.floor(Math.random() * items.length)];
        par['mouth'] = item
      
        console.log("par:",par)

        var avatar = Avataaars.create({
            //skinType: par['skinType'],
            skin: par['skinColor'],
            top: par['top'],
            hairColor: par['hairColor'],
            hatColor: par['hatColor'],
            accessories: par['accessories'],
            accessoriesColor: par['accessoriesColor'],
            facialHair: par['facialHair'],
            facialHairColor: par['facialHairColor'],
            clothing: par['clothing'],
            clothingGraphic: par['clothingGraphic'],
            clothingColor: par['clothingColor'],
            eyes: par['eyes'],
            eyebrows: par['eyebrows'],
            mouth: par['mouth'],
            width: "300",
            height: "300",
        });
        document.getElementById("id_svg").innerHTML = avatar


        var avatar_min = Avataaars.create({
            //skinType: par['skinType'],
            skin: par['skinColor'],
            top: par['top'],
            hairColor: par['hairColor'],
            hatColor: par['hatColor'],
            accessories: par['accessories'],
            accessoriesColor: par['accessoriesColor'],
            facialHair: par['facialHair'],
            facialHairColor: par['facialHairColor'],
            clothing: par['clothing'],
            clothingGraphic: par['clothingGraphic'],
            clothingColor: par['clothingColor'],
            eyes: par['eyes'],
            eyebrows: par['eyebrows'],
            mouth: par['mouth'],
            width: "100",
            height: "100",
        });
        document.getElementById("id_svg_min").innerHTML = avatar_min   
        //cache
        localStorage['avatar'] = avatar; // only strings
        localStorage['avatar_min'] = avatar_min; // only strings
}

function change_password(){
  console.log("change_password()")

  bootbox.prompt({
    closeButton: false,
    title: "Introduce your current password",
    inputType: 'password',
    callback: function (result) {
        console.log(result);
        if((result != "") && (result != null)){
        old_pass = result
        send_old_pass(old_pass)
        }
    }
  });
 
}

function send_old_pass(pass){
  old_pass = pass
  $.ajax({
                                    type: "POST",
                                    url: "{% url 'change_pass' %}"  ,
                                    
                                    name: "testname",
                                    data: JSON.stringify( { old_pass } ),
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function(resp){
                                      console.log("resp:",resp)
                                      if(resp.flag_pass_old){
                                        console.log("TRUE")
                                        create_new_pass()
                                      }
                                      else{
                                        console.log("FALSE")
                                        bootbox.alert({
                                          closeButton: false,
                                          message:"The password is incorrect!",
                                        });
                                      }

                                    },
                                    failure: function(resp){console.log("Hay un error:" + resp);},
                            });
}

function create_new_pass(){
  bootbox.prompt({
    closeButton: false,
    title: "Introduce your new password (8 characteres min)",
    inputType: 'password',
    callback: function (result) {
        console.log(result);
        if((result != "") && (result != null) && (result.length >=8 )){
        new_pass = result
        create_new_pass_check(new_pass)
        }
        else{
          bootbox.alert({
            closeButton: false,
            message:"The new password will have a length 8 or more",
          });
        }
    }
  });
}

function create_new_pass_check(pass){
  bootbox.prompt({
    closeButton: false,
    title: "Confirm your new password",
    inputType: 'password',
    callback: function (result) {
        console.log(result);
        if((result != "") && (result != null)){
        new_pass2 = result
        if(pass == new_pass2){
          send_new_pass(pass)
        }
        else{
          bootbox.alert({
            closeButton: false,
            message:"Error in the confirmation!",
          });
        }
        }
    }
  });
}

function send_new_pass(pass){
  new_pass = pass
  $.ajax({
                                    type: "POST",
                                    url: "{% url 'change_pass' %}"  ,
                                    
                                    name: "testname",
                                    data: JSON.stringify( { new_pass } ),
                                    contentType: "application/json; charset=utf-8",
                                    dataType: "json",
                                    success: function(resp){
                                      console.log("resp:",resp)
                                      if(resp.flag_pass_new){
                                        bootbox.alert({
                                          closeButton: false,
                                          message:"Congratulations: The password was updated! You will be logout.",
                                          callback: function (result) {
                                            //logout;
                                            var url = "{% url 'logout'%}?next={{request.path}}";
                                            document.location.href = url
                                          }
                                        });
                                      }
                                      else{
                                        bootbox.alert({
                                          closeButton: false,
                                          message:"ERROR: Not update the password.",
                                        });
                                      }
                                    },
                                    failure: function(resp){console.log("Hay un error:" + resp);},
                            });
}


</script>

{% endblock %}

